





<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Shell Out Showdown</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div id="navigation" class="uk-width-medium-1-4">
                    <h1 class="nav-header">Shell Out Showdown</h1>
                    
    <!--<a class="nav-header" href="#">press kit</a>-->


                    <ul class="uk-nav uk-nav-side">
                        <li><a href="#factsheet">Factsheet</a></li>
                        <li><a href="#description">Description</a></li>
                        
    
        <li><a href="#history">History</a></li>
    

                        
    <li><a href="#features">Features</a></li>

                        <li><a href="#trailers">Videos</a></li>
                        <li><a href="#images">Images</a></li>
                        
                        
                        <li><a href="#quotes">Selected Articles</a></li>
                        
    <li><a href="#preview">Request Press Copy</a></li>

                        <li><a href="#links">Additional Links</a></li> 
                        
    <li><a href="#about">About manadream</a></li>

                        <li><a href="#credits">Team</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                </div>
                <div id="content" class="uk-width-medium-3-4">

                    

                    <div class="uk-grid">
                        <div class="uk-width-medium-2-6">
                            <h2 id="factsheet">Factsheet</h2>
                            <p>
                                <strong>Developer:</strong><br/>
                                manadream<br/>
                                
                                    Based in San Francisco, CA
                                
                            </p>

                            
    
        <p>
            <strong>Release date:</strong><br/>
            4 Apr, 2022
        </p>
    

    
        <p>
            <strong>Platforms:</strong><br/>
            
                <a href="https://store.steampowered.com/app/1556660/Shell_Out_Showdown/">Steam (Windows, Linux)</a><br/>
            
                <a href="https://www.humblebundle.com/store/shell-out-showdown">Humble</a><br/>
            
                <a href="https://manadream.itch.io/shell-out-showdown">Itch</a><br/>
            
        </p>
    




                            
    
        <p>
            <strong>Website:</strong><br/>
            
            <a href="http://manadream.games/">manadream.games</a>
        </p>
    


                            
    
        <p>
            <strong>Regular Price:</strong><br />
            <table>
            
                <tr><td>USD</td><td>$9.99</td></tr>
            
            </table>
        </p>
    


                        </div>

                        <div class="uk-width-medium-4-6">
                            
                                <h2 id="description">Description</h2>
                                <p>Shell Out Showdown is a Vending Machine Rapid-Fire Food Combat Generosity Arena! Throw food, dodge food, don't litter, and give to win in this hectic, platform combat arena free-for-all! Choose your anthropomorphic vending machine and get to food tossin'! Humanity is gone, all that remains is the tech they left behind. Learn from their mistakes, be generous and care about others! Transcend humanity with the gift of generosity! ^~^</p>
                            

                            
    
        <h2 id="history">History</h2>
        <p>Shell Out Showdown is part of what has retroactively been termed the "molasses jam" run by the Bay Area Dev Collective. The theme of the jam was to make a violent genre non-violent. I picked the last-person-standing battle-royale genre, as it tends to be dominated by violent games, and Shell Out Showdown eventually came to life!</p>
    

    
        <h2 id="features">Features</h2>
        <ul>

        
            <li>Hectic and simple (but nuanced) platforming gameplay. Dodge food and throw food! No littering!</li>
        
            <li>Customize your character with different colors, effects, trails and even buddies!</li>
        
            <li>90's Inspired pixel art and FM-Synth-heavy, Jazzy music.</li>
        
            <li>Levels in various locations such as a mall, the French Quarter, a junkyard, a tall radio tower, space and more!</li>
        
            <li>Create and join lobbies for you and your friends to play online!</li>
        
            <li>Play locally with up to 4 players. You can even bring your local players to online matches. Makes for a great party game!</li>
        

        </ul>
    

                        </div>
                    </div>

                    <hr>

                    
                        <h2 id="trailers">Videos</h2>
                        
                            <p><strong>Trailer</strong>&nbsp;

                            
                                <a href="https://www.youtube.com/watch?v=oCuTGO565DM">YouTube</a>
                                <div class="uk-responsive-width iframe-container">
                                    <iframe src="https://www.youtube.com/embed/oCuTGO565DM" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            

                            

                            

                            
                            
                                <a href="https://drive.google.com/file/d/1-Si2Ij4DvC3wkMiL31Mj_ZKU0NC06O0c/view?usp=share_link"><b>Download From Google Drive</b></a>
                            

                            </p>

                        
                            <p><strong>Gameplay Video (unlisted, for reference purposes only)</strong>&nbsp;

                            
                                <a href="https://www.youtube.com/watch?v=IQ-AIjHEwpM">YouTube</a>
                                <div class="uk-responsive-width iframe-container">
                                    <iframe src="https://www.youtube.com/embed/IQ-AIjHEwpM" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            

                            

                            

                            
                            

                            </p>

                        
                        <hr>
                    

                    
                        <h2 id="images">Images</h2>

                        


                        
                            <div class="uk-grid images">
                                
                                    <div class="uk-width-medium-1-2"><a href="images/steamHeaderCapsule.png"><img src="images/steamHeaderCapsule.png" alt="steamHeaderCapsule.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-40-50.png"><img src="images/Screenshot from 2023-02-11 15-40-50.png" alt="Screenshot from 2023-02-11 15-40-50.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot 2023-02-11-15.png"><img src="images/Screenshot 2023-02-11-15.png" alt="Screenshot 2023-02-11-15.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/steamMainCapsule.png"><img src="images/steamMainCapsule.png" alt="steamMainCapsule.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/steamSmallCapsuleNew2.png"><img src="images/steamSmallCapsuleNew2.png" alt="steamSmallCapsuleNew2.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-45-47.png"><img src="images/Screenshot from 2023-02-11 15-45-47.png" alt="Screenshot from 2023-02-11 15-45-47.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-49-16.png"><img src="images/Screenshot from 2023-02-11 15-49-16.png" alt="Screenshot from 2023-02-11 15-49-16.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-36-27.png"><img src="images/Screenshot from 2023-02-11 15-36-27.png" alt="Screenshot from 2023-02-11 15-36-27.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-38-27.png"><img src="images/Screenshot from 2023-02-11 15-38-27.png" alt="Screenshot from 2023-02-11 15-38-27.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-38-52.png"><img src="images/Screenshot from 2023-02-11 15-38-52.png" alt="Screenshot from 2023-02-11 15-38-52.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-37-01.png"><img src="images/Screenshot from 2023-02-11 15-37-01.png" alt="Screenshot from 2023-02-11 15-37-01.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-46-49.png"><img src="images/Screenshot from 2023-02-11 15-46-49.png" alt="Screenshot from 2023-02-11 15-46-49.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/steamHeroCapsule.png"><img src="images/steamHeroCapsule.png" alt="steamHeroCapsule.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-48-18.png"><img src="images/Screenshot from 2023-02-11 15-48-18.png" alt="Screenshot from 2023-02-11 15-48-18.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-45-29.png"><img src="images/Screenshot from 2023-02-11 15-45-29.png" alt="Screenshot from 2023-02-11 15-45-29.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-35-22.png"><img src="images/Screenshot from 2023-02-11 15-35-22.png" alt="Screenshot from 2023-02-11 15-35-22.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-44-48.png"><img src="images/Screenshot from 2023-02-11 15-44-48.png" alt="Screenshot from 2023-02-11 15-44-48.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-38-02.png"><img src="images/Screenshot from 2023-02-11 15-38-02.png" alt="Screenshot from 2023-02-11 15-38-02.png" /></a></div>
                                
                                    <div class="uk-width-medium-1-2"><a href="images/Screenshot from 2023-02-11 15-44-21.png"><img src="images/Screenshot from 2023-02-11 15-44-21.png" alt="Screenshot from 2023-02-11 15-44-21.png" /></a></div>
                                
                            </div>
                        

                        <br/>
                        <p class="images-text">There are far more images available for Shell Out Showdown, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact us</a>!</p>

                        <hr>
                    

                    


                    

                    
                        <h2 id="quotes">What People Are Saying</h2>
                        <ul>
                            
                                <li>"Fantastic platforming shooter but in a unique way. Instead of killing you are giving!"<br/><cite>- ZodistA, <a href="https://steamcommunity.com/profiles/76561198009436170/">Steam Reviewer</a></cite></li></li>
                            
                                <li>"Very much enjoyed this title! I love it! A real hit to the 80's. After playing I was left with a big smile!"<br/><cite>- Ketobbey, <a href="https://steamcommunity.com/id/Ketobbey/">Steam Reviewer</a></cite></li></li>
                            
                                <li>"Shooting snacks and trying not to get fed by everyone else is hilarious."<br/><cite>- Eelwafffles, <a href="https://steamcommunity.com/id/blackice18/">Steam Reviewer</a></cite></li></li>
                            
                                <li>"Unique take on 2D "shooting" action, where instead of killing your opponent, you're trying to feed them :D"<br/><cite>- Pufflyjigggg, <a href="https://www.twitch.tv/pufflyjiggg">Twitch Streamer</a></cite></li></li>
                            

                        </ul>
                        <hr>
                    

                    
    
        <h2 id="preview">Request Press Copy</h2>
        <p>Please send us an e-mail at <a href="mailto:mana@manadream.games">mana@manadream.games</a> and we'll get back to you as soon as a press copy is available for you.</p>
        <hr>
    


                    <!--  -->
                    
                        <h2 id="links">Additional Links</h2>
                        
                            <p>
                                <strong>Original Soundtrack</strong><br/>
                                Available on Steam and Bandcamp <a href="https://manadream.bandcamp.com/" alt=https://manadream.bandcamp.com/>manadream.bandcamp.com</a>.
                            </p>
                        
                            <p>
                                <strong>Release Blog Post</strong><br/>
                                The blog-post through which this game was released is available at <a href="https://steamcommunity.com/games/1556660/announcements/detail/3637255693045724100" alt=https://steamcommunity.com/games/1556660/announcements/detail/3637255693045724100>steamcommunity.com</a>.
                            </p>
                        

                        <hr>
                    

                    
    <h2 id="about">About manadream</h2>
        <p><!--<strong>Boilerplate</strong><br/>-->
        manadream is a solo developer with a background in software development, music, art, writing and game design.
        </p>

<!--
        <p><strong>More information</strong><br/>
        More information on manadream, our logo & relevant media are available <a href="../index.html">here</a>.
        </p>
        -->
    <hr>


                    
                        <div class="uk-grid">
                            
                                <div class="uk-width-medium-1-2">
                                    <h2 id="credits">Shell Out Showdown Credits</h2>

                                    
                                        <p>
                                        <strong>manadream </strong><br/>
                                        
                                            Creator
                                        
                                        </p>
                                    

                                </div>
                            

                            
                                <div class="uk-width-medium-1-2">
                                    <h2 id="contact">Contact</h2>

                                    
                                        <p>
                                        
                                        
                                            <strong>Inquiries</strong><br/><a href="mailto:mana@manadream.games">mana@manadream.games</a>
                                        

                                        
                                        </p>
                                    
                                        <p>
                                        
                                        

                                        
                                            <strong>Twitter</strong><br/><a href="http://twitter.com/manadream_">twitter.com/manadream_</a>
                                        
                                        </p>
                                    
                                        <p>
                                        
                                        

                                        
                                            <strong>Intagram</strong><br/><a href="http://instagram.com/manadream.exe">instagram.com/manadream.exe</a>
                                        
                                        </p>
                                    
                                        <p>
                                        
                                        

                                        
                                            <strong>Web</strong><br/><a href="http://manadream.games">manadream.games</a>
                                        
                                        </p>
                                    

                                </div>
                            
                        </div>
                        <hr>
                    


                    <p><a href="http://dopresskit.com/">presskit()</a> by Rami Ismail (<a href="http://www.vlambeer.com/">Vlambeer</a>) - also thanks to <a href="../credits.html">these fine folks</a></p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>      
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
        <script type="text/javascript">
            $( document ).ready(function() {
                var container = $('.images');

                container.imagesLoaded( function() {
                    container.masonry({
                        itemSelector: '.uk-width-medium-1-2',
                    });
                });
            });
        </script>

        
    </body>
</html>
